# /etc/systemd/system/musicgen.service

[Unit]
Description=musicgen
After=network.target

[Service]
ExecStart=/home/alice/git3/musicgen/generator/app.sh
WorkingDirectory=/home/alice/git3/musicgen/generator
Restart=always
User=alice

[Install]
WantedBy=multi-user.target