@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.SignalR
@inject RabbitMqService RabbitMqService
@inject FileUploadService FileUploadService
@inject NavigationManager navigationManager
@inject IWebHostEnvironment WebHostEnvironment
<PageTitle>MusicGen</PageTitle>

<h3>MusicGen</h3>
<table>
    <tr>
        <td>
            <label for="fileInput">Upload Audio File:</label>
        </td>
        <td>
            <InputFile id="fileInput" OnChange="HandleFileUpload" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="textInput">Prompt:</label>
        </td>
        <td>
            <InputTextArea id="textInput" @bind-Value="text" style="height: auto; max-width: 200px;" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="durationInput">Duration:</label>
        </td>
        <td>
            <InputText id="durationInput" @bind-Value="duration" style="max-width: 200px;" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Actions:</label>
        </td>
        <td>
           <button @onclick="GenerateMusic">Generate Music</button>
           <button @onclick="SendInterrupt">Send Interrupt</button>
        </td>
    </tr>
</table>

<div>&#160;</div>
<div>Queue Legth: @queueLength</div>
<div>&#160;</div>
<h3>Status</h3>
<ul>
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

<h3>Files List</h3>

<ul>
    @foreach (var fileName in FileNames)
    {
        <li><a target="_blank" href="audio/@fileName">@fileName</a></li>
    }
</ul>



@code {
    private string text;
    private string duration;
    private IBrowserFile file;
    private List<string> messages = new List<string>();
    private HubConnection _hubConnection;
    private List<string?> FileNames { get; set; } = new List<string?>();
    private int queueLength = 0;
    private async Task SendInterrupt()
    {
        RabbitMqService.SendInterrupt();
    }
    
    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        file = e.File;
    }

    private async Task GenerateMusic()
    {
        if (file != null)
        {
            var audioFileContent = await FileUploadService.SaveFile(file);
            RabbitMqService.SendMusicGenRequest(text, duration, audioFileContent);
            queueLength += 1;
        }
        else
        {
            // Handle case where no file is selected
        }
    }
    

    protected override async Task OnInitializedAsync()
    {
        string baseUrl = navigationManager.BaseUri;

        string _hubUrl = baseUrl.TrimEnd('/') + ChatHub.HubUrl;

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(_hubUrl)
            .Build();

        _hubConnection.On<string>("Broadcast", ReceiveMessage);

        await _hubConnection.StartAsync();

        //await _hubConnection.SendAsync("Broadcast", "initialized");

        // Retrieve MP3 file names from the server
        var folderPath = Path.Combine(WebHostEnvironment.ContentRootPath, "audio");
        FileNames = Directory.GetFiles(folderPath, "*.*")
                             .Where(file => file.EndsWith(".mp3") || file.EndsWith(".txt"))
                             .Select(Path.GetFileName)
                             .ToList();

        await base.OnInitializedAsync();
    }
    private void ReceiveMessage(string message)
    {
        queueLength -= 1;
        messages.Add(message);
        // Retrieve MP3 file names from the server
        var folderPath = Path.Combine(WebHostEnvironment.ContentRootPath, "audio");
        FileNames = Directory.GetFiles(folderPath, "*.*")
                             .Where(file => file.EndsWith(".mp3") || file.EndsWith(".txt"))
                             .Select(Path.GetFileName)
                             .ToList();
        // Inform blazor the UI needs updating
        InvokeAsync(StateHasChanged);
    }
    


}
