<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicGen Form</title>
</head>
<body>
    <div>musicgen</div>
    <form action="/musicgen" method="post">
        <label for="text">Text:</label>
        <input type="text" id="text" name="text" value="a light and cheerly EDM track, with syncopated drums, aery pads, and strong emotions bpm: 130" required>
        <button type="submit">Generate Music</button>
    </form>
    <div>
        <a href="/list_generated_files">list previously generated music</a>
    </div>
</body>
</html>
