<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicGen Form</title>
</head>
<body>
    <div>musicgen</div>
    <form id="musicgenForm">
        <label for="text">Text:</label>
        <input type="text" id="text" name="text" value="a light and cheerly EDM track, with syncopated drums, airy pads, and strong emotions bpm: 130" required>
        <label for="duration">Duration:</label>
        <input type="text" id="duration" name="duration" value="10" required>

        <!-- Add file input for audio file -->
        <label for="audio_file">Audio File:</label>
        <input type="file" id="audio_file" name="audio_file" accept=".mp3" required>
        
        <button type="button" onclick="submitForm()">Generate Music</button>
    </form>
    <div>
        <a href="/list_generated_files">List previously generated music</a>
    </div>
    
    <!-- Display Queue Length -->
    <div id="queueLength">Queue Length: Loading...</div>

    <script>
        function submitForm() {
            // Create a FormData object to handle file uploads
            var formData = new FormData();
            
            // Add text value to the form data
            formData.append("text", document.getElementById("text").value);
            
            // Add duration value to the form data
            formData.append("duration", document.getElementById("duration").value);

            // Add audio file to the form data
            formData.append("audio_file", document.getElementById("audio_file").files[0]);

            fetch('/musicgen', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response as needed
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        // Function to update the queue length
        function updateQueueLength() {
            fetch('/queue_length')
            .then(response => response.json())
            .then(data => {
                // Update the HTML content with the queue length
                document.getElementById("queueLength").innerText = 'Queue Length: ' + data.queue_length;
            })
            .catch(error => {
                console.error('Error getting queue length:', error);
            });
        }

        // Update the queue length on page load
        updateQueueLength();

        // Periodically update the queue length (every 5 seconds in this example)
        setInterval(updateQueueLength, 5000);
    </script>
</body>
</html>
